numpy==1.22.1
scipy==1.4.1
scikit-learn==1.0.2
jupyter==1.0.0
tqdm==4.62.3
graphviz==0.10.1
nltk==3.2.5
gensim==3.6.0
bokeh==2.3.3
matplotlib==3.2.2
seaborn==0.11.2
torch==1.10.0
torchvision==0.11.1
jupyter==1.0.0
jupyterlab-pygments
jupyterlab-widgets
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
editdistance